window{
    border-radius: 10px;
    // background: rgba($color: #242424, $alpha: .9);
    background: rgba(27, 27, 27, .95);
    color: white;
}

*{box-shadow: none;}



//------------------------------------------------
//----- USER SECTION
//------------------------------------------------

.first{min-width: 250px; padding: 10px;}

.user{border-radius: 10px; min-width: 150px;}
.user .text{margin-left: 5px;}
.user .image{margin: 5px 5px 0 5px; border-radius: 75px;}

.power-off{
    color: white;
    margin: 20px -50px 20px 90px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    box-shadow: none;
    background: rgba(50, 50, 50, .8);
}
.power-off:hover{background: rgba(75, 75, 75, .8);}



//------------------------------------------------
//----- CONTROLS SECTION
//------------------------------------------------

.controls-box{margin: 15px; border-radius: 10px;}   // background: rgba(50, 50, 50, .8);

.brightness{margin: -5px;}

.brightness scale, .volume scale{min-width: 235px;}
.brightness label, .volume label{margin: 0 10px; color: white;}
.brightness slider, .volume slider{all: unset;}

.brightness scale trough, .volume scale trough{
    all: unset;
	background-color: #3a435a;                      // #171a22
	border-radius: 10px;
	min-height: 10px;
}

.brightness scale trough highlight, .volume scale trough highlight{all: unset; border-radius: 10px;}

.brightness scale trough highlight{background: #7978B2;}
.volume scale trough highlight{background: #FE96E9;}



//------------------------------------------------
//----- BUTTONS SECTION
//------------------------------------------------

.functions{padding: 15px 15px 5px 15px;}

.functions button{
    color: white;
    font-size: 13px;
    border-radius: 10px;
    border: none;
    box-shadow: none;
    background: rgba(50, 50, 50, .8);
    margin: 10px 0;
}
.functions button:hover{background: rgba(75, 75, 75, .9);}
