window{
    margin: 0px;
    background-color: rgba(40, 42, 54, 0.9);
    border-radius: 25px;
    border: 2px solid #8272a4;
}

#input{
    margin: 5px;
    border: none;
    color: #FFFFFF;
    background-color: #44475a;
    border-radius: 30px;
}

#inner-box{
    margin: 5px;
    border: none;
    background-color: rgba(40, 42, 54, 0);
    border-radius: 30px;
}

#outer-box{
    margin: 15px;
    border: none;
    background-color: rgba(40, 42, 54, 0);
}

#scroll{
    margin: 0px;
    border: none;
}

#text{
    margin: 5px;
    border: none;
    color: #BD93F9;
} 

#entry:selected{
    background-color: #44475a;
    border-radius: 12px;
    outline: none;
}

#entry:selected *{
    background-color: #44475a;
    border-radius: 20px;
    outline: none;
}
